<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JPSegmentedButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F29491A81D3DF7E8001F10D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F29491C11D3DF7E8001F10D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F29491CC1D3DF7E8001F10D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
